PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecowatt_db
DB_USER=root
DB_PASSWORD=sua_senha
DB_CONNECTION_LIMIT=10

JWT_SECRET=troque_esta_chave_por_uma_chave_forte
JWT_EXPIRES_IN=7d

FRONTEND_ORIGIN=http://127.0.0.1:5500
